<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="../static/main.js" async></script>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' />
    <link rel="stylesheet" href="../static/styles.css">

    <title>Merry Christmas</title>

    <link rel="icon" href="../static/icon.jpg">
</head>

<body>
    <h2 class="header center pt-2 mt-5">Seasons Greetings</h2>
    <main>
        {% block main %} {% endblock %}
    </main>
    <div class="footer container-fluid fixed-bottom mt-5">
        <div class="center">
            <p class="pt-2 mt-2" style="text-align: center;">&copy; 2020 Okolo Kaito. All rights reserved</p>
        </div>
    </div>
</body>

</html>